.form-cars > div {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form-cars > div:first-child {
    padding-right: 10px;
}
.adultsQuantity button {
    margin: 0 10px;
    border-radius: 100px;
}